.squares {
  
  .monthly-detail-list {
    .tooltip-calender {
      display: none;
    }

    .monthly-details {
      font-size: 12px;
      line-height: 12px;
      width: 144px;
      padding: 10px 20px;
      background-color: $bg-25292E;
      z-index: 50;
      color: $white;
    }

    .tooltip-icon {
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      background-color: $bg-25292E;
      position: relative;
      top: -5px;
    }

    &:hover {
      .tooltip-calender {
        display: flex;
        width: auto;
        text-align: center;
        width: 100%;

        // .monthly-details {

        // }
      }
    }
  }


}
.squares li[data-level="0"] {
  background-color: $bg-54809F;
}

.squares li[data-level="1"] {

  background-color: $bg-ACCBE7;
}

.squares li[data-level="2"] {
  background-color: $bg-38536C;
}

.squares li[data-level="3"] {
  background-color: $bg-1E2021;
}

.squares li[data-level="4"] {
  background-color: $bg-6997C1;
}