// Variables

// $success: #28a745;
// $danger: #dc3545;
// $white: #fff;
// $primary-white: #f9f8f5;
// $black: #000;
// $primary-black: #121212;
// $black-two: #221b1b;
// $greyish: #b9b9b9;
// $greyish-two: #ababab;
// $light-grey: #d8d7d3;
// $light-grey-two: #cfd4cd;
// $dark-shadow: #00000033;


$bg-ACCBE7: #ACCBE7;
$bg-54809F : #54809F;
$bg-38536C :  #38536C;
$bg-1E2021 : #1E2021;
$bg-6997C1: #6997C1;
$pera-text: #707070;
$white: #fff;
$bg-25292E: #25292E;

